body {
  background-image: url("https://wallpapercrafter.com/sizes/1366x768/164590-original-characters-anime-girls-short-hair-black-hair-school-uniform-closed-eyes-sleeping-lantern-anime-window-rain-night.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: flex-start;   
  justify-content: flex-start; 
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: white;
  text-align: center;
  padding: 20px;
}

.status-line {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #101019;
  color: white;
  padding: 0.5px;
  text-align: center;
  display: flex;
  justify-content: space-between;  
  font-weight: bold;
}

.left-section,
.center-section,
.right-section {
  display: flex;
}

.left-section {
  align-items: flex-start;
}

.center-section {
  align-items: center;
}

.right-section {
  align-items: flex-end;
}

.center-section .status-item {
  color: white;
}

.status-item {
  margin-left: 10px;
  color: #a6e3a1;
  margin-right: 15px;
}

.git-branch {
  font-weight: bold;
  color: #cba6f7;
}

.file-name {
  color: #f5c2e7;
}

.icon {
  font-family: "JetBrains Mono";
  font-size: 16px;
  margin-right: 0;
  margin-left: 10px;
}

.java-code {
  font-family: "JetBrains Mono", monospace;
  color: #f8f8f8;
  margin: 0;
  padding: 5px 0;
  text-indent: 20px;
  max-height: 810px; 
  overflow-y: scroll; 
}

